nav{
    margin-top: 0%;
    background: rgb(172, 235, 95);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    position: fixed;
    top: 0;
    left: 0;
}
header{
    margin-top: 3px;
}
#container{
    background: white;
    padding: 100px;
    overflow: hidden;
    margin: 50%;
}
#info {
    float: center;
    width: 80%;
    margin: 0%;
    background: white;
    color: rgb(64, 64, 66);
    font-family: 'Raleway', sans-serif;
    font-size: x-small;
}

#hora{
    float: center;
    width: 100%;
    margin: 0%;
    background: white;
    color: #9DDF4E;
    font-family: 'Oxygen', sans-serif;
    font-size: large;
}

#emer{
    float: center;
    width: 100%;
    margin: 0%;
    background: white;
    color: rgb(64, 64, 66);
    font-family: 'Raleway', sans-serif;
    font-size: x-small
}

#tel{
    float: center;
    width: 100%;
    margin: 0%;
    background: white;
    color: #9DDF4E;
    font-family: 'Oxygen', sans-serif;
    font-size: large;
}

h3{
    float: center;
    width: 100%;
    margin: 0%;
    background: white;
    color: rgb(64, 64, 66);
    font-family: 'Raleway', sans-serif;
    font-size: 40px
}

#nuestro{
    float: center;
    width: 100%;
    margin: 0%;
    background: white;
    color: #9DDF4E;
    font-family: 'Oxygen', sans-serif;
    font-size: large;
}

#b{
    float: center;
    width: 80%;
    margin: 0%;
    background: white;
    color: rgb(64, 64, 66);
    font-family: 'Raleway', sans-serif;
    font-size: initial;
}

@media screen and (max-width: 1000px) {
    #informacion1 {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #informacion2 {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #informacion3 {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #loguito {
        float: right;
    }
}


/*Estilos del login*/
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
